<%# shared/aktion_article/_galerie_photos.html.erb %>
<%# called from:
- aktions/_form.html.erb
- aktions/show.html.erb
- articles/_form.html.erb
- articles/show.html.erb
%>
<div class="diaporama-wrapper">
  <div id="galerie-photos" class="flexslider">
    <%# Check this variable "class_name_for_slider" out!!!
    This is important: it is being set to an empty string when the partial
    is supposed to be rendered with a form.
    Otherwise, the params do catch
    the picture (media_containers) titles.
    %>
    <ul class=<%= class_name_for_slider %>>
      <% pictures.each do |pict| %>
        <li>
          <%= render partial: "#{sub_partial}",
            # sub_partial may be either (i) shared/aktion_article/slide_wrapper (in show mode)
            # or (ii) shared/aktion_article/slide_wrapper_form (in edit or new mode)
            layout: 'shared/aktion_article/slide_wrapper_layout',
            locals: {
              parent: parent,
              pict: pict,
              marked_for_destruction: marked_for_destruction(parent),
              item: parent.model_name.param_key
            }
          %>
        </li>
      <% end %>
    </ul>
  </div><!-- fin de diaporama -->
</div><!-- fin de diaporama-wrapper -->
