<%# shared/aktion_article/_slide_wrapper.html.erb %>
<%# called from:
- shared/aktion_article/_galerie_photos.html.erb
%>

<%= image_tag(pict.media(:for_slider), alt: pict.title) %>
<p class="legende"><%= pict.title %></p>
