<%# shared/article_aktion/_recommandation.html.erb %>
<%# called from:
- shared/_recommandations_iterator.html.erb
%>

<div class="col-xs-12 col-sm-4 recommandation">

  <!-- top link displayed above the item -->
  <p class="categorie">
    <% name, path = name_and_path_for_link_super_title(element) %>
    <%= link_to name.html_safe, path %>
  </p>
  <!-- main link -->
  <%= render partial: 'shared/recommandation_inner',
      locals: {
        element: element,
        subpartial: 'shared/html_safe'
      }
  %>

  <% if params[:action] == "edit" %>
    <% if additional_class_names == 'existing_external_linkings' %>
      <p><%= link_to 'Destroy the link', article_linking_path(@article.id, element.get_linking_id), method: :delete %></p>
    <% elsif additional_class_names == 'linkables' %>
      <p><%= link_to 'Create a link', article_linkings_path(article_id: @article.id, to_linkable_id: element.id, to_linkable_type: element.class.name), method: :post %></p>
    <% end %>
  <% end %>

</div>
