<%# aktion_article_portrait/_upload_field.html.erb %>

<!-- File upload field -->
<div class="form-group">
  <%= file_field_tag(file_field_name, id: file_field_id) %>
</div>
<!-- end file upload field -->
