<div class="diaporama-wrapper">
  <div id="galerie-photos" class="flexslider">
    <ul class="slides">
      <% pictures.each do |pict| %>
        <li>
          <%= render partial: 'shared/article_aktion/slide_wrapper',
            object: pict,
            locals: {
              pict: pict
            }
          %>
        </li>
      <% end %>
    </ul>

  </div><!-- fin de diaporama -->

</div><!-- fin de diaporama-wrapper -->
