<div class="diaporama-wrapper">
  <div id="galerie-photos" class="flexslider">
    <ul class="slides">
      <!-- FIXME - Iterate here on the @article.media_containers collection -->
      <% pictures.each do |pict| %>
        <li>
          <div class="slide-wrapper">
            <%= image_tag(pict.media(:for_slider), alt: "") %>
            <p class="legende"><%= pict.title %></p>
          </div>
        </li>
      <% end %>
    </ul>

  </div><!-- fin de diaporama -->

</div><!-- fin de diaporama-wrapper -->
