<%# static_pages/_form.html.erb %>

<%= simple_form_for(@static_page) do |f| %>

  <%= f.error_notification %>

  <!-- Fields assignment to variables -->
  <% title = f.input :title, label: false, placeholder: t(:placeholder_enter_title_here, this_item: @this_item_i18n_name, default: "Entrez le titre de #{@this_item_i18n_name} ici") %>
  <% teaser = f.cktext_area :teaser, rows: 10  %>
  <% body = f.cktext_area :body, rows: 10  %>

  <%= render partial: 'static_pages/partials/container',
      layout: "shared/aktion_article_static/container_layout",
      locals: {
        title: title,
        teaser: teaser,
        body: body
      }
  %>

  <div class="container">
    <br>
    <%= render partial: 'shared/general_content_row',
        locals: {
          content: render('shared/aktion_article_portrait_site_edito_static/submit_button', f: f)
        }
    %>
  </div>

<% end %>


