<%# View: static_pages/show.html.erb %>

<% content_for(:title, raw("#{@static_page.title}")) %>
<% content_for :body_class, "page-article" %>

<% provide :admin_nav_content_actions do %>
  <li><%= link_to t(:admin_nav_edit_content, default: 'Edit'), edit_static_page_path(@static_page) %></li>
<% end %>

<% render partial: 'shared/admin_nav_translation_menu_wrapper' %>

<%= render partial: 'static_pages/partials/container',
    layout: "shared/aktion_article_static/container_layout",
    locals: {
      title: @static_page.title,
      teaser: @static_page.teaser  || '',
      body: @static_page.body || ''
    }
%>
