<%# home_pages/partials/show/_article_recommandation.html.erb %>
<%# Called from:
- home_pages/partials/show/_article_recommandations.html.erb
%>

<div class="col-xs-12 col-sm-6 col-md-4 recommandation">
  <!-- categorie link -->
  <p class="categorie">
    <%= link_to article.categories[0].name, category_path(article.categories[0]) %>
  </p>

  <!-- wrapper link -->
  <%= render partial: 'home_pages/partials/show/image_wrapper_partial', locals: {
      item: article
    }
  %>

</div>
