<div class="col-xs-12 col-sm-6 col-md-4 recommandation">
  <!-- categorie link -->
  <p class="categorie">
    <%= link_to article[:category].name, category_path(article[:category]) %>
  </p>
  <!-- wrapper link -->
  <%= link_to article_path(article[:id]) do %>
    <!-- image -->
    <div class="img-wrapper">
      <%= image_tag(article[:media], alt: "") %>
      <div class="layer"></div>
    </div>
    <!-- article title -->
    <h3>
      <%= article[:title] %>
    </h3>

  <% end %>
</div>
