<%# home_pages/partials/show/_article_recommandation.html.erb %>
<%# Called from:
- home_pages/partials/show/_article_recommandations.html.erb
%>

<div class="col-xs-12 col-sm-6 col-md-4 recommandation">
  <!-- categorie link -->
  <p class="categorie">
    <%= link_to article.categories[0].name, category_path(article.categories[0]) %>
  </p>
  <!-- wrapper link -->
  <%= link_to article_path(article) do %>
    <!-- image -->
    <% if (picturizing = article.picturizings.size > 0 && article.picturizings.select { |p| p.for_card == "true" }) && picturizing.size > 0 %>
      <div class="img-wrapper">
        <%= image_tag(picturizing[0].media_container.media(:for_card), alt: picturizing[0].media_container.title) %>
        <div class="layer"></div>
      </div>
    <% end %>
    <!-- article title -->
    <h3>
      <%= article.title %>
    </h3>

  <% end %>
</div>
