<%# home_pages/partials/show/_article_recommandation.html.erb %>
<%# Called from:
- home_pages/partials/show/_article_recommandations.html.erb
%>

<div class="col-xs-12 col-sm-6 col-md-4 recommandation">
  <!-- categorie link -->
  <p class="categorie">
    <%= link_to element.categorizings[0].category.name, category_path(element.categorizings[0].category) %>
  </p>

  <!-- wrapper link -->
  <%= render partial: 'shared/recommandation_inner',
      locals: {
        element: element,
        subpartial: 'home_pages/partials/show/img_safe_for_card_layout'
      }
  %>

</div>
