<%# home_pages/partials/shared/_article_recommandations.html.erb %>
<%# called from:
home_pages/partials/shared/_main_content.html.erb
%>

<% i = 1 %>
<% items.each do |article| %>

  <%= render partial: 'home_pages/partials/show/article_recommandation', locals: {article: article} %>

  <% if i == 3 %>
    <% i = 0 %>
    <div class="clearfix hidden-xs"></div>
  <% end %>
  <% i = i + 1 %>

<% end %>
