<%# home_pages/partials/show/_diaporama_actions.html.erb %>
<%# called from:
- home_pages/partials/shared/_main_content.html.erb
%>

<div class="flexslider" id="slide-actions">
  <ul class="slides" style="margin-left: 0px;">

    <% aktions.each do | aktion | %>
      <li class="slide">
        <p class="categorie">
          <%= link_to aktion.country.name, country_path(aktion.country) %> /
          <%= link_to aktion.categorizings[0].category.name, category_path(aktion.categorizings[0].category) %>
        </p>

        <%= render partial: 'home_pages/partials/show/card_link_wrapper_partial', locals: {
            item: aktion
          }
        %>

      </li>
    <% end %>

  </ul>
</div>
