
<div class="flexslider" id="slide-actions">
  <ul class="slides" style="margin-left: 0px;">

    <% aktions.each do | aktion | %>
      <li class="slide">
        <p class="categorie">
          <%= link_to aktion.country.name, country_path(aktion.country) %> /
          <%= link_to aktion.categories[0].name, category_path(aktion.categories[0]) %>
        </p>

        <%= render partial: 'home_pages/partials/show/image_wrapper_partial', locals: {
            item: aktion
          }
        %>

      </li>
    <% end %>

  </ul>
</div>
