
<div class="flexslider" id="slide-actions">
  <ul class="slides">
      <li class="slide">

          <p class="categorie"><a href="/action-pays.php">En Chine</a> / <a href="/liste.php">Musique</a></p>
          <a href="/article.php">
            <div class="img-wrapper">
              <img src="/contenu/chine.jpg" alt="">
              <div class="layer"></div>
            </div>
              <h3>ADN en Chine - Avril</h3>
          </a>

      </li>
      <li class="slide">

          <p class="categorie"><a href="/action-pays.php">En Russie</a> / <a href="/liste.php">Théâtre</a></p>
          <a href="/article.php">
            <div class="img-wrapper">
              <img src="/contenu/russie1.jpg" alt="">
              <div class="layer"></div>
            </div>
              <h3>Une autre action que voilà</h3>
          </a>

      </li>
      <li class="slide">

          <p class="categorie"><a href="/action-pays.php">En Chine</a> / <a href="/liste.php">Opéra</a></p>
          <a href="/article.php">
            <div class="img-wrapper">
              <img src="/contenu/chine3.jpg" alt="">
              <div class="layer"></div>
              <span class="label label-default">Projet</span>
            </div>
              <h3>Et ainsi de suite autant qu'on veut</h3>
          </a>

      </li>
      <li class="slide">

          <p class="categorie"><a href="/action-pays.php">En Russie</a> / <a href="/liste.php">Musique</a></p>
          <a href="/article.php">
            <div class="img-wrapper">
              <img src="/contenu/russie2.jpg" alt="">
              <div class="layer"></div>
              <span class="label label-default">Projet</span>
            </div>
              <h3>Encore une action par ici</h3>
          </a>

      </li>
     <!--  <li class="slide">

          <p class="categorie"><a href="/action-pays.php">En France</a> / <a href="/liste.php">Théâtre</a></p>
          <a href="/article.php">
            <img src="/img/defaut-horiz-thin.png" alt="">
              <h3>Une action que voici</h3>
          </a>

      </li> -->
  </ul>
</div>
