<div class="col-xs-12 recommandation">
    <a href="/portrait.php">
      <div class="img-wrapper">
        <img src="/contenu/portraits/sommier.jpg" alt="">
        <div class="layer"></div>
        </div>
      <h3>Patrick Sommier</h3>
    </a>
</div>

<div class="col-xs-12 recommandation">
    <a href="/portrait.php">
    <div class="img-wrapper">
    <img src="/contenu/portraits/d-lescot.jpg" alt="">
    <div class="layer"></div>
    </div>
    <h3>David Lescot</h3>
    </a>
</div>

<div class="col-xs-12 recommandation">
    <a href="/portrait.php">
    <div class="img-wrapper">
    <img src="/contenu/portraits/lemoine.jpg" alt="">
    <div class="layer"></div>
    </div>
    <h3>Jean René Lemoine</h3>
    </a>
</div>

<div class="col-xs-12">
  <a class="more" href="/liste.php">Tous les portraits</a>
</div>
