<div class="col-xs-12 recommandation">
  <!-- wrapper link -->
  <%= link_to portrait_path(portrait) do %>
    <div class="img-wrapper">
      <!-- image -->
      <%= image_tag(portrait.media_container.media(:for_card), alt: portrait.media_container.title) %>
      <div class="layer"></div>
    </div>
    <!-- name -->
    <h3>
      <%= portrait.title %>
    </h3>

  <% end %>
</div>
