<%# home_pages/partials/show/_portrait_recommandation.html.erb %>
<%# called from:
home_pages/partials/shared/_main_content.html.erb
%>

<div class="col-xs-12 recommandation">
  <!-- wrapper link -->
  <%= render partial: 'shared/recommandation_inner',
      locals: {
        element: portrait,
        subpartial: 'home_pages/partials/show/img_safe_for_card_layout'
      }
  %>

</div>
