<%# home_pages/partials/show/_portrait_recommandations.html.erb %>
<%# called from:
- home_pages/partials/shared/_main_content.html.erb
%>
<% portraits.each do |portrait| %>

   <%= render partial: 'home_pages/partials/show/portrait_recommandation', locals: {
    portrait: portrait
    }
  %>

<% end %>

<div class="col-xs-12">
  <%= link_to t(:tous_les_portraits, default: "Tous les portraits"), protagonistes_path, class: "more" %>
</div>



