<%# articles/partials/_body.html.erb %>
<%# called from:
- articles/partials/_container.html.erb
with layout:
- 'shared/article_aktion_static/body_layout'
%>

<%= body_content %>

<!-- FIXME -- This is an exemple of article embedded image -->
<!--
<div class="conteneur-image text-center">
  <%#= image_tag(pict.media(:for_slider), alt: "") %>
  <p class="legende">Une légende ici</p>
</div>
-->
<!-- FIXME -- This is an exemple of article embedded image -->
<!--<div class='embed-container'><iframe src='https://player.vimeo.com/video/61422350' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>-->


<hr>

<!-- signature and posted_at and posted_from_location -->
<footer>

  <div class="row">

    <div class="col-xs-12 col-sm-6">
      <cite>
      <%= yield :author_full_name %>
      </cite>
    </div>

    <div class="col-xs-12 col-sm-6 text-right">
      <% default_for_posted_at =
        "<p class='meta'>
          Publié le
          <span class='date-publication'>
            #{posted_at.is_a?(ActiveSupport::TimeWithZone) ? l(posted_at, format: :short) : posted_at}
          </span>
          , à
          <span class='lieu-publication'>
            #{posted_from_location}
          </span>
        </p>"
      %>
      <%= t(
        :published_html,
        posted_at: posted_at.is_a?(ActiveSupport::TimeWithZone) ? l(posted_at, format: :short) : posted_at,
        posted_from_location: posted_from_location,
        default: default_for_posted_at.html_safe) %>
    </div>
  </div>

</footer>



