
<%= article.body.html_safe %>

<!-- FIXME -- This is an exemple of article embedded image -->
<div class="conteneur-image text-center">
  <%#= image_tag(pict.media(:for_slider), alt: "") %>
  <p class="legende">Une légende ici</p>
</div>
<!-- FIXME -- This is an exemple of article embedded image -->
<div class='embed-container'><iframe src='https://player.vimeo.com/video/61422350' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>


<hr>

<!-- signature and posted_at and posted_from_location -->
<%= render partial: "articles/partials/footer", locals: {article: article} %>



