<footer>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <cite>
        <%= article.author.full_name %>
      </cite>
    </div>
    <div class="col-xs-12 col-sm-6 text-right">
      <% default_for_posted_at = "<p class='meta'>Publié le <span class='date-publication'>#{article.posted_at}</span>, à <span class='lieu-publication'>#{article.posted_from_location}</span></p>" %>
      <%=  %>
      <%= t(:published_html, posted_at: l(article.posted_at, format: :short), posted_from_location: article.posted_from_location, default: default_for_posted_at) %>
    </div>
  </div>

</footer>
