<div class="diaporama-wrapper">
  <div id="galerie-photos" class="flexslider">
    <ul class="slides">
      <!-- FIXME - Iterate here on the @article.media_containers collection -->
      <li>
        <div class="slide-wrapper">
          <!-- FIXME - convert to img_tag media_container.media -->
          <img src="contenu/chine1.jpg" />
          <!-- FIXME - dynamic media_container.title -->
          <p class="legende">Une autre légende ici</p>
        </div>
      </li>
      <li>
        <div class="slide-wrapper">
          <img src="contenu/chine3.jpg" />
          <p class="legende">Encore une autre légende ici</p>
        </div>
      </li>
      <li>
        <div class="slide-wrapper">
          <img src="contenu/chine.jpg" />
          <p class="legende">Une légende ici</p>
        </div>
      </li>
      <!-- FIXME - end iteration -->
    </ul>

  </div><!-- fin de diaporama -->

</div><!-- fin de diaporama-wrapper -->
