<div class="container-fluid recommandations">
  <div class="container">
    <h2><% t(:further_reading, default: "Aller plus loin")%></h2>
    <div class="row">
      <!-- FIXME - Need to make a query on article_linking and iterate on it @article.article_linkings -->
      <div class="col-xs-12 col-sm-4 recommandation">
        <p class="categorie"><a href="/liste.php">Portraits</a></p>
        <a href="/portrait.php">
        <img src="/img/defaut-horiz-thin.png" alt="">
        <h3>David Lescot</h3>
        </a>

      </div>

      <div class="col-xs-12 col-sm-4 recommandation">
        <p class="categorie"><a href="/liste.php">Portraits</a></p>
        <a href="/portrait.php">
        <img src="/img/defaut-horiz-thin.png" alt="">
        <h3>Jean René Lemoine</h3>
        </a>
      </div>

      <div class="col-xs-12 col-sm-4 recommandation">
        <p class="categorie"><a href="/liste.php">Portraits</a></p>
        <a href="/portrait.php">
        <img src="/img/defaut-horiz-thin.png" alt="">
        <h3>Patrick Sommier</h3>
        </a>
      </div>

      <div class="clearfix hidden-xs"></div>

      <div class="col-xs-12 col-sm-4 recommandation">
        <p class="categorie"><a href="/liste.php">Portraits</a></p>
        <a href="/portrait.php">
        <img src="/img/defaut-horiz-thin.png" alt="">
        <h3>Lazare Boghossian</h3>
        </a>
      </div>

      <div class="col-xs-12 col-sm-4 recommandation">
        <p class="categorie">&nbsp;</p>
        <a href="/article.php">
        <img src="/img/defaut-horiz-thin.png" alt="">
        <h3>Le projet ADN</h3>
        </a>

      </div>

    </div>
  </div>
</div>
