<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2 text-center introduction">
      <h2 class="resume">
        <%= editorial %>
      </h2>
      <ul class="list-inline" id="first-links">
          <li class="first">
            <!-- FIXME -->
            <%= link_to t(:read_more, default: "Lire la suite"), '#' %>
          </li>
          <li>
            <!-- FIXME -->
            <%= link_to t(:what_is_adn, default: "Qu'est-ce que le projet ADN ?"), '#' %>
          </li>
      </ul>
    </div>
  </div>
</div>
