<% content_for :title, t(:new_article, default: "New article") %>

<%= render "form" %>

<% provide :admin_nav_content_type do %>
  <% "#{@article.model_name.name}" %>
<% end %>

<% provide :admin_nav_content_actions do %>
  <li><%= link_to t(:admin_nav_admin_index_content, default: 'Index'), articles_path %></li>
<% end %>

<% render 'shared/admin_nav_content' %>
