<%# shared/country_home_page/_editable_external_link.html.erb %>
<%# called from:
- shared/country_home_page/_external_links.html.erb
%>

<li>
  <div class="panel panel-default">
    <div class="panel-body">

      <%# name and url editable fields %>
      <div class="form-group">
        <%= text_field_tag "external_linkings[#{index}][name]", "#{name}", class: "form-control", placeholder: 'Enter link name here' %>
      </div>
      <div class="form-group">
        <%= text_field_tag "external_linkings[#{index}][url]", "#{url}", class: "form-control", placeholder: 'http://...' %>
      </div>

      <%# destroy checkbox %>
      <%# FIXME -- I do not like this if check %>
      <% unless index.include?('new') %>
        <div class="from-group text-left">
          <div class="checkbox">
            <label><%= check_box_tag "external_linkings[marked_for_deletion][#{index}]", "true" %><%= t(:mark_for_deletion, default: "Mark for deletion") %></label>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</li>
