<%# shared/country_home_page/_external_links.html.erb %>
<%# called from:
- home_pages/show.html.erb
- home_pages/edit.html.erb
- countries/show.html.erb
- countries/edit.html.erb
%>

<h2><%= t(:liens, default: "Liens") %></h2>
<ul class="<%= class_name_for_ul %>">
  <% external_linkings.each do |external_linking| %>
    <%= render partial: "#{sub_partial}",
        locals: {
          index: "existing_external_linkings][#{external_linking.id}",
          name: external_linking.external_link.name,
          url: external_linking.external_link.url
        }
    %>
  <% end %>
  <%= yield :additional_external_links %>
</ul>
