<%# shared/country_home_page/_external_links_form.html.erb %>
<%# called from:
- home_pages/edit.html.erb
%>

<%= form_tag('/external_links') do %>

  <%= render partial: 'shared/country_home_page/external_links_fields',
    locals: {
      parent_type: parent_type,
      parent_id: parent_id,
      external_links: external_links,
      class_name_for_ul: class_name_for_ul
    }
  %>

  <div class="form-actions">
    <%= button_tag "Save external links", name: 'commit', type: 'submit', class: "btn btn-primary btn-block" %>
  </div>

<% end %>
