<%# shared/article_aktion_static/_title_teaser.html.erb %>
<%# called from:
- aktions/partials/_container.html.erb
- articles/partials/_container.html.erb
- static_pages/partials/_container.html.erb
%>

<h1>
  <%= title %>
</h1>
<h2 class="resume">
  <%= teaser.html_safe %>
</h2>
