<%# shared/article_aktion_static/_title_teaser_error_layout.html.erb %>
<%# called from:
- aktions/partials/_container.html.erb
- articles/partials/_container.html.erb
- static_pages/partials/_container.html.erb
%>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">

    <%= yield %>

  </div>
</div>
