<%# aktion/partials/_index_table_aktion_specific_cols.html.erb %>

<td><%= item.country.name %></td>
<td><%= l(item.aktion_date, format: :long) %></td>
<td><%= l(item.posted_at, format: :long) %></td>
