<%# shared/_admin_nav.html.erb %>
<% if user_signed_in? %>
  <style>
    .admin-nav-wrapper {
      position: fixed;
      bottom: 0;
      left: 0;
    }
  </style>
  <div class="admin-nav-wrapper">
    <div class="dropup">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropup
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><%= link_to 'Profile', edit_user_registration_path %></li>
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
<% end %>
