<%# shared/_admin_nav.html.erb %>
<% if user_signed_in? %>

  <div class="admin-nav-wrapper">
    <div class="btn-group" role="group" aria-label="Administrative navigation bar">
      <%= render partial: 'shared/admin_nav_btn_menu_container',
          locals: {
            aria_label: "Session actions (see profile and log out)",
            main_button_id: "dropdownMenu1",
            main_button_content: content_tag(:i, "", class: "fa fa-user-plus"),
            menu_content: render(partial: 'shared/admin_nav_session_menu')
          }
      %>
      <%= render partial: 'shared/admin_nav_btn_menu_container',
          locals: {
            aria_label: "Actions on the displayed contents (edit, new, duplicate, see index and destroy)",
            main_button_id: "dropdownMenu2",
            main_button_content: content_tag(:i, "", class: "fa fa-cog"),
            menu_content: yield(:admin_nav_content_actions)
          }
      %>
      <%#= render "shared/admin_nav_translation_menu_wrapper" %>
      <%= yield :translation_menu %>
    </div>
  </div>

<% end %>
