<%# shared/_admin_nav_content.html.erb %>

<% provide :admin_nav_content do %>
  <div class="btn-group dropup" role="group" aria-label="Content actions (edit, new, duplicate, see index and destroy)">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= @item_i18n_name %>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <%= yield :admin_nav_content_actions %>
    </ul>
  </div>
<% end %>
