<h2><%= t(:liens, default: "Liens") %></h2>
<ul class="<%= class_name_for_ul %>">
  <% external_links.each do |external_link| %>
    <li><%= link_to external_link.name, external_link.url %></li>
  <% end %>
</ul>
