
<div class="container">
  <footer id="site-footer">

    <div class="row">


      <div class="col-xs-12 col-sm-12 col-md-4">
        <ul class="list-inline">
          <!-- FIXME -->
          <li><%= link_to t(:contact_us, default: "Nous contacter"), @static_pages[4] %></li>
          <li><%= link_to t(:credits, default: "Crédits"), @static_pages[2] %></li>
          <li><%= link_to t(:legal, default: "Mentions légales"), @static_pages[3] %></li>
          <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li> -->
        </ul>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 text-center">

          <a href="http://www.jeune-theatre-national.com/" target="_blank"><img src="http://adn.beatles.artiscode.org/img/jtn.jpg" alt="Jeune Théâtre National"></a>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 text-right">

        <ul class="list-inline">
          <li>&copy 2016 ADN - Art des nations</li>
        </ul>
      </div>


    </div>
  </footer>

</div>
<a href="#0" class="cd-top"><% t :top, default: "Haut de page" %></a>
