<%# shared/_recommandation.html.erb %>
<%# called by:
- shared/_recommandations.html.erb
%>

<div class="<%=additional_class_names%> recommandation " >
  <%= link_to element.class.name != "Aktion" ? polymorphic_path(element) : action_path(element) do %>
    <% if (picturizing = element.picturizings.size > 0 && element.picturizings.select { |p| p.for_card == "true" }) && picturizing.size > 0 %>
      <%= image_tag(picturizing[0].media_container.media(:for_card), alt: picturizing[0].media_container.title) %>
    <% end %>
    <h3><%= element.title %></h3>
  <% end %>
</div>

