<%# shared/_recommandation_inner.html.erb %>
<%# called from:
- shared/categories_country_portrait/_recommandation.html.erb
- shared/aktion_article/_recommandations.html.erb
%>

<%= link_to element.class.name != "Aktion" ? polymorphic_path(element) : action_path(element) do %>
  <%= render partial: 'shared/img_safe_for_card',
      locals: { element: element, subpartial: subpartial }
  %>
  <h3><%= element.title %></h3>
<% end %>
