<!-- Sidebar -->
<div id="sidebar-wrapper">

    <div class="menu-links">
      <ul class="list-unstyled">
        <li><a href="/accueil.php" class=""><i class="fa fa-home"></i></a></li>
        <li><a href="/action-pays.php" class="">En Russie</a></li>
        <li><a href="/action-pays.php" class="">En Chine</a></li>
        <!-- <li><a href="#" class="">En France</a></li> -->
        <li><a href="/liste.php" class="">Portraits</a></li>
      </ul>
  </div>
  <hr>
  <div class="menu-tags">
    <ul class="list-inline">
      <!-- FIXME -->
      <li><a href="/liste.php">Danse</a></li>
      <li><a href="/liste.php">Histoire</a></li>
      <li><a href="/liste.php">Littérature</a></li>
      <li><a href="/liste.php">Opéra</a></li>
      <li><a href="/liste.php">Philosophie</a></li>
      <li><a href="/liste.php">Photographie</a></li>
      <li><a href="/liste.php">Théâtre</a></li>
    </ul>
  </div>
  <hr>
    <div class="input-group" id="search-form">
      <input type="text" class="form-control" placeholder="Rechercher...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
      </span>
    </div><!-- /input-group -->
    <hr>
    <div class="menu-links">
      <ul class="list-unstyled">
        <!-- FIXME -->
        <li><a href="#" class="">Le projet ADN</a></li>
        <li><a href="#" class="">Nous contacter</a></li>
      </ul>
  </div>
  <div class="close-link">
      <a href="#wrapper" class="menu-toggle"><span class="sr-only">Refermer</span></a>
    </div>
</div>
  <!-- /#sidebar-wrapper -->
