<nav id="main-nav">
<div class="container-fluid">
  <div class="container">
    <div class="row" id="top-nav">
      <div class="col-xs-12 col-sm-4" id="conteneur-logo">
        <%= link_to "ADN Art des Nations", root_path, id: "logo" %>
      </div>
      <div class="col-xs-6 col-sm-4 col-lg-6">
        <ul class="list-inline">

          <% @languages_array.each do | locale | %>
            <li>
              <%= link_to locale.values[0], params.merge({:locale => locale.keys[0]}) %>
            </li>
          <% end %>

        </ul>
      </div>
      <div class="col-xs-6 col-sm-4 col-lg-2 text-right">
        <a class="menu-toggle"><i class="fa fa-reorder"></i><%= t(:menu, default: " Menu")%></a>
      </div>
    </div>
  </div>
</div>
</nav>
