<% content_for :title, t(:home_page_title, default: "Accueil") %>
<% content_for :body_class, "page-accueil" %>

<% provide :admin_nav_content_actions do %>
  <li><%= link_to t(:admin_nav_show_content, default: 'Show'), @home_page %></li>
<% end %>

<% render partial: 'shared/admin_nav_translation_menu_wrapper' %>

<%= render 'form' %>

<% provide :external_links do %>
  <%= render partial: 'shared/country_home_page/external_links_form', locals: {
    parent_type: 'HomePage',
    parent_id: @home_page.id,
    external_linkings: @home_page.external_linkings,
    class_name_for_ul: "list-unstyled "
    }
  %>
<% end %>

<!-- HOME_PAGES LAYOUT CONSTANT -->
<%= render partial: 'home_pages/partials/shared/main_content',
  locals: {
    aktions: @aktions,
    articles: @articles,
    portraits_for_home_page: @portraits_for_home_page
  }
%>
