/* -------------------------------------
 * Main navigation styles
 * ------------------------------------- */
body {
  div.nav {
    display: none;
    div.nav-wrapper {
      display: none;
    }
  }
  @media (min-width: $my-screen-md-min) {
    div.nav {
      display: block;
      height: 68px;
      background: black;
      nav.nav-wrapper {
        display: block;
        top: 0;
        &.affix-top {
          position: relative;
        }
        &.affix div.nav-menu-container {
          -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
          transform: translateX(0);
        }
        width: 100%;
        min-height: 69px;
        line-height: 68px;
        text-align: center;
        background-color: $nav-bg-color;
        z-index: 3;
        -webkit-font-smoothing: subpixel-antialiased;
        .nav-menu-container {
          position: absolute;
          top: 0;
          -webkit-transform: translateX(-71px);
          -ms-transform: translateX(-71px);
          transform: translateX(-71px);
          border-right: 1px solid $nav-menu-container-border-right;
          -webkit-transition: 100ms ease-in-out -webkit-transform;
          transition: 100ms ease-in-out transform;
          .nav-menu-button {
            display: block;
            width: 70px;
            height: 69px;
            .icon-menu {
              display: inline-block;
              width: 20px;
              height: 18px;
              background-repeat: no-repeat;
              svg {
                -webkit-transform: translateY(3px);
                -ms-transform: translateY(3px);
                transform: translateY(3px);
                path {
                  fill: #666;
                }
                &:not(:root) {
                  overflow: hidden;
                }
              }
            }
            &:hover svg path {
              fill: white;
            }
          }
        }
        ul.nav-list {
          margin: 0;
          padding: 0;
          list-style-type: none;
          background: black;
          z-index: 2;
          .nav-list-item {
            position: relative;
            display: inline-block;
            a {
              text-decoration: none;
              display: block;
              padding: 0 7px;
              font-size: 16px;
              color: $nav-item-color;
              &:hover {
                color: $nav-item-hover-color;
              }
              @media (min-width: $my-screen-lg-min) {
                padding: 0 18px;
                font-size: 17px;
              }
            }
          }
          .active-nav-list-item a {
            color: $nav-item-active-color;
          }
        }
      }
    }
  }
}
