<%# _main_content.html.erb %>
<%# called from countries/partials/_container.html.erb %>

<div class="row contenu-principal">

  <!-- editorial -->
  <div class="col-xs-12 col-sm-7">
    <%= editorial %>
  </div>

  <div class="col-xs-12 col-sm-5">

    <!-- aktion list -->
    <div id="recommandations">

      <%= render partial: 'shared/recommandations', locals: {list: @aktions, additional_class_names: ""} %>

    </div>

    <!-- external links -->
    <%= render partial: 'shared/external_links', locals: {
      external_links: @external_links_by_country,
      class_name_for_ul: " "
      }
    %>

  </div>
</div>
