<% content_for :body_class, "portraits" %>

<!--

<h1>Listing Portraits</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @portraits.each do |portrait| %>
      <tr>
        <td><%#= link_to 'Show', portrait %></td>
        <td><%#= link_to 'Edit', edit_portrait_path(portrait) %></td>
        <td><%#= link_to 'Destroy', portrait, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Portrait', new_portrait_path %>
-->



<%= render partial: 'shared/list', locals: {list: @portraits, list_name: t(:portraits, default: "Portraits"), intro: @portrait_intro.intro.html_safe} %>


