<%# portraits/show.html.erb %>

<% content_for :title, raw(@portrait.title) %>
<% content_for :body_class, "portraits" %>

<% render 'shared/aktion_article_portrait/admin_nav_content_actions_for_show_view' %>

<% if @portrait.media_container.present? %>
  <% provide :picture do %>
    <div class="row contenu illustration">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
        <%= image_tag(@portrait.media_container.media(:for_slider), alt: @portrait.media_container.title) %>
      </div>
    </div>
  <% end %>
<% end %>

<% render partial: 'shared/aktion_article_portrait/recommandations',
    locals: {
      linkings_collection: @portrait.existing_links,
      yieldable_name: "existing_external_linkings",
      linkings_heading: t(:related, default: "En lien"),
      sub_sub_partial: 'shared/aktion_article_portrait/recommandation_picture_title'
    }
%>

<%# render the partial with the variables passed in a hash %>
<%= render partial: 'portraits/partials/container',
  object: @portrait, locals: {
    parameters: {
      title: @portrait.title,
      teaser: @portrait.teaser || '',
      body: @portrait.body || ''
    }
  }
%>
