/* -------------------------------------
 * React Transition Class - NO NOT TOUCH
* ------------------------------------- */
.react-news-container-enter {
  opacity: 0.01;
}
.react-news-container-enter.react-news-container-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.react-news-container-leave {
  opacity: 1;
}
.react-news-container-leave.react-news-container-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.react-news-container-appear {
  opacity: 0.01;
  max-height: 0px;
}
.react-news-container-appear.react-news-container-appear-active {
  opacity: 1;
  max-height: 5000px;
  overflow: hidden;
  transition: opacity 3000ms ease-in, max-height 4000ms ease-in;
}
