/* -------------------------------------
 * News Listings
* ------------------------------------- */
div.news-listing {
  margin-bottom: 20px;
  .outer-wrapper-news-div {
    // position: relative;
    padding: 0px;
    border-style: none;
    .inner-wrapper-news-div {
      .news-teaser-wrapper {
        a {
          text-decoration: none;
          color: black;
          &:hover {
            color: #999;
          }
        }
      }
    }
    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
    .read-more-news-btn-container {
      text-align: right;
    }
  }
}
