<%# media_containers/new.html.erb %>

<% content_for :title, t(:new_picture, default: "New picture") %>

<% provide :admin_nav_content_type do %>
  <% t(:picture, default: "Picture") %>
<% end %>

<% provide :admin_nav_content_actions do %>
  <li><%= link_to t(:admin_nav_admin_index_content, default: 'Index'), media_containers_path %></li>
  <li><%= link_to 'Back', url_for(:back) %></li>
<% end %>

<% render 'shared/admin_nav_content' %>

<%= render "form",
    title_value: '',
    source_url_field_name: 'media_container[source_url]',
    source_url_value: '',
    creation_date_field_name: 'media_container[creation_date]',
    creation_date_field_value: '',
    author_field_name: 'media_container[author]',
    author_field_name_value: ''
%>
