<% content_for(:title, t(:portraits, default: "Portraits")) %>
<% content_for :body_class, "portraits" %>

<%= simple_form_for(@portrait_intro) do |f| %>
  <%= f.error_notification %>

  <% portrait_intro_content = f.cktext_area :intro, rows: 50, :ckeditor => {language: I18n.locale} %>
  <% submit_button = f.button :submit, 'Save your changes!!!', class: 'my-submit-button btn btn-primary btn-lg btn-block' %>

  <%= render partial: 'shared/portraits_categories/list',
      locals: {
        parameters: {
          list_name: t(:portraits, default: "Portraits"),
          list_editorial: portrait_intro_content,
          list_items: @portraits,
          submit_button: submit_button
        }
      }
  %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
