<%# portrait_intros/edit %>

<% content_for(:title, t(:portraits, default: "Portraits")) %>
<% content_for :body_class, "portraits" %>

<% provide :admin_nav_content_actions do %>
  <li><%= link_to t(:admin_nav_show_content, default: 'Show'), @portrait_intro %></li>
<% end %>

<% render 'shared/admin_nav_content' %>

<%= render 'form' %>

<%= link_to 'Show', @portrait_intro %>
