<%# view: countries/edit.html.erb %>
<% content_for :title, raw(@country.title) %>

<% provide :admin_nav_content_actions do %>
  <li><%= link_to t(:admin_nav_show_content, default: 'Show'), @country %></li>
<% end %>

<% render 'shared/admin_nav_content' %>

<% provide :external_links do %>
  <%= render partial: 'shared/country_home_page/external_links_fields',
    locals: {
      parent_type: 'Country',
      parent_id: @country.id,
      external_linkings: @country.external_linkings,
      class_name_for_ul: " "
    }
  %>
<% end %>


<%= render 'form' %>
