<%# view: countries/show.html.erb %>
<% content_for :title, raw(@country.title) %>

<% provide :admin_nav_content_actions do %>
  <li><%= link_to t(:admin_nav_edit_content, default: 'Edit'), edit_country_path(@country) %></li>
<% end %>

<% render partial: 'shared/admin_nav_translation_menu_wrapper' %>

<% if @country.external_linkings.present? %>
  <% provide :external_links do %>
    <%= render partial: 'shared/country_home_page/external_links', locals: {
      sub_partial: 'shared/country_home_page/external_link',
      external_linkings: @country.external_linkings,
      class_name_for_ul: " "
      }
    %>
  <% end %>
<% end %>

<%= render partial: 'countries/partials/container',
    object: @country,
    locals: {
      parameters: {
        title: @country.title,
        editorial: @country.editorial || ''
      }
    }
%>
