/* -------------------------------------
 * My CSS code for buttons
* ------------------------------------- */

.black-square-btn {
  color: $my-button-color;
  background-color: $my-button-bg-color;
  border-radius: $my-button-border-radius;
  &:hover {
    color: $my-button-hover-color;
    background-color: $my-button-bg-hover-color;
  }
}
