<%# categories/_form.html.erb %>

<% content_for(:title, raw("#{@category.name}")) %>
<% content_for :body_class, "portraits" %>

<!--
<%#= link_to 'Edit', edit_category_path(@category) %> |
<%#= link_to 'Back', categories_path %>
-->

<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>

  <% category_name = f.input :name %>
  <% editorial = f.cktext_area :editorial, rows: 50, :ckeditor => {language: I18n.locale} %>
  <% submit_button = f.button :submit, 'Save your changes!!!', class: 'my-submit-button btn btn-primary btn-lg btn-block' %>

  <%= render partial: 'shared/categories_portraits/list',
      locals: {
        parameters: {
          list_name: category_name,
          list_editorial: editorial,
          list_items: @categorized_articles_and_aktions,
          submit_button: submit_button
        }
      }
  %>

  <!--<div class="form-inputs">
  </div>-->

  <!--<div class="form-actions">
    <%#= f.button :submit %>
  </div>-->
<% end %>
