<% content_for :title, t(:new_category, default: "New category") %>

<% provide :admin_nav_content_type do %>
  <% "#{@category.model_name.name}" %>
<% end %>

<% provide :admin_nav_content_actions do %>
  <li><%= link_to t(:admin_nav_admin_index_content, default: 'Index'), categories_path %></li>
<% end %>

<% render 'shared/admin_nav_content' %>

<%= render 'form' %>
