<%# media_containers/partials/additional_media_container_fields.html.erb %>

<div class="form-group">
  <%= text_field_tag(source_url_field_name, source_url_value, class: "form-control", placeholder: placeholder_for_picture_source_url) %>
</div>

<div class="form-group">
  <%= text_field_tag(creation_date_field_name, creation_date_value, class: "form-control", placeholder: placeholder_for_picture_creation_date) %>
</div>

<div class="form-group">
  <%= text_field_tag(author_field_name, author_field_name_value, class: "form-control", placeholder: placeholder_for_picture_author_name) %>
</div>
